<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" >
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simplelaw.com</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css">
    <link href="/stylesheets/custom.css" type="text/css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Habibi|Alegreya+Sans:700,300italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic|Allerta|Prociono' rel='stylesheet' type='text/css'>


   </head>
<style>


     @media (max-width: 400px) {

         .video-wrapper iframe {
             height: 200px;
             width:300px;
             padding-left: 45px;
         }
         .circleBase{
             margin-top: 35px; margin-left: 32px;  margin-bottom: 35px;
         }
         .first p, .second p{
             font-size: 17px;
         }
         .pitch{
             padding-left: 17%;
         }
         .type1{
             width: 135px;
             height: 135px;
         }
         .type2{
             width: 135px;
             height: 135px;
         }
     }
     @media (min-width: 401px) and (max-width: 800px) {

         .video-wrapper iframe {
             height: 305px;
             width:520px;
             padding-left: 15%;
         }
         .pitch{
             padding-left: 12.5%;
         }
         .type1{
             width: 135px;
             height: 135px;
         }
         .circleBase{
             margin-top: 45px;
             margin-left: 6%;
             margin-bottom: 50px;
         }
         .type2{
             width: 135px;
             height: 135px;
         }
     }
     @media (min-width: 801px) and (max-width: 950px){

       .video-wrapper iframe {
          height: 405px;
          padding-left:10.5%;
        }

       .pitch {
           padding-left:11.5%;
       }
       .circleBase{
           margin-top: 45px; margin-left: 15px; margin-right: 55px; margin-bottom: 50px;
       }

     }

     @media (min-width: 951px) and (max-width: 1100px)
     {

         .first h1, .first p, .second h1, p{
             padding-left: 2%;
         }
         .video-wrapper iframe {

             padding-left: 15%;
         }

         .pitch {
             padding-left:11%;
         }

         .logo p{
             padding-left:0;
         }

     }
     @media (min-width: 1101px)
     {
         .video-wrapper iframe {

             padding-left:23%;
         }
         .pitch {
             padding-left:22%;
         }
     }

</style>

<body>
<div class="screen">
  <div class="nav">
    <div class="logo">
        <h1>SIMPLE<span class="law">LAW</span><span class="com">.com</span> </h1>
        <p data-0p="color:rgb(0,0,0)" data-10p="color:rgb(4,103,146);">Simple for clients & simple for lawyers </p>
    </div>
  </div>
  <div class="first" data-0p="background-color:rgb(62,134,172);" data-50p="background-color:rgb(4,103,146);">
       <h1> Are you looking for an attorney? </h1>

       <div class="video-wrapper">
          <iframe  src="//www.youtube.com/embed/wvqTAVTSzgg?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
       </div>
    <div class="pitch">
      <div class="circleBase type1" data-50p="background-color:rgb(4,103,146);" data-70p="background-color:rgb(62,134,172);">
        <h2> Connect </h2>
      </div>

      <div class="circleBase type1" data-50p="background-color:rgb(4,103,146);" data-70p="background-color:rgb(62,134,172);">
          <h2> Share </h2>
      </div>

      <div class="circleBase type1" data-50p="background-color:rgb(4,103,146);" data-70p="background-color:rgb(62,134,172);">
          <h2> Focus </h2>
      </div>
    </div
  </div>


 <div class="second" data-85p="background-color:rgb(4,103,146);" data-100p="background-color:rgb(62,134,172);">
          <h1> Are you looking for a legal service?</h1>

          <div class="video-wrapper">
              <iframe  src="//www.youtube.com/embed/3yyWwpDKhiw?rel=0&showinfo=0"  frameborder="0" allowfullscreen></iframe>
          </div>
      <div class="pitch">
         <div class="circleBase type2" data-80p="background-color:rgb(62,134,172);" data-95p="background-color:rgb(4,103,146);">
           <h2> Find </h2>
         </div>

         <div class="circleBase type2" data-80p="background-color:rgb(62,134,172);" data-95p="background-color:rgb(4,103,146);">
             <h2> Schedule </h2>
         </div>

         <div class="circleBase type2" data-80p="background-color:rgb(62,134,172);" data-95p="background-color:rgb(4,103,146);">
             <h2> Track </h2>
          </div>
      </div>
 </div>


<div class="footer">
     <nav>
       <ul>
         <li><a href="#"> About </a></li>
         <li><a href="#"> Contact </a></li>
      </ul>
    </nav>
   <div class="social">
      <a href="https://www.facebook.com/simplelaw">
        <img class="facebook" src="/images/facebook.png">
      </a>
      <a href="https://twitter.com/intent/user?screen_name=simplelaw">
         <img class="twitter" src="/images/twitter.png">
      </a>
      <a href="https://www.linkedin.com/company/simplelaw">
         <img class="linkedin" src="/images/linkedin.png">
      </a>
  </div>
</div>



 </div>

<script src="/javascripts/skrollr.js"></script>
<script type="text/javascript">
    var s = skrollr.init();
    </script>
</body>
</html>