<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" >
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simplelaw.com</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css">
    <link href="/stylesheets/custom.css" type="text/css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Habibi|Alegreya+Sans:700,300italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic|Allerta' rel='stylesheet' type='text/css'>


   </head>
<style>


     @media (max-width: 400px) {

         .video-wrapper iframe {
             height: 200px;
             width:300px;
             padding-left: 45px;
         }
         .addthis{
             top:17%;
         }
         .first p, .second p{
             font-size: 17px;
         }
         .pitch{
             padding-left: 45px;
         }
     }
     @media (min-width: 401px) and (max-width: 800px) {

         .video-wrapper iframe {
             height: 305px;
             width:520px;
             padding-left: 15%;
         }
         .pitch{
             padding-left: 10%;
         }
         .type1{
             width: 155px;
             height: 155px;
         }
         .circleBase{
             margin-top: 45px;
             margin-left: 2%;
             margin-bottom: 50px;
         }
         .type2{
             width: 155px;
             height: 155px;
         }
     }
     @media (min-width: 801px) and (max-width: 950px){


       .video-wrapper iframe {
          height: 405px;
          padding-left:10%;
        }

       .pitch {
           padding-left:11%;
       }
       .circleBase{
           margin-top: 45px; margin-left: 15px; margin-right: 55px; margin-bottom: 50px;
       }
       .addthis{
             top:18%;
       }
     }

     @media (min-width: 951px)
     {

         .first, .second h1, p{
             padding-left: 2%;
         }
         .video-wrapper iframe {

             padding-left:24%;
         }

         .pitch {
             padding-left:21%;
         }

         .logo p{
             padding-left:0;
         }

     }

</style>

<body>
<div class="screen">
  <div class="nav">
    <div class="logo">
        <h1>SIMPLE<span class="law">LAW</span><span class="com">.com</span> </h1>
        <p data-0p="color:rgb(0,0,0)" data-10p="color:rgb(4,103,146);">simple for clients & simple for lawyers </p>
    </div>
  </div>
  <div class="first" data-0p="background-color:rgb(62,134,172);" data-50p="background-color:rgb(4,103,146);">
       <h1> Are you a lawyer?</h1>
       <p> Watch the video to learn more on how we can help you. </p>
       <div class="video-wrapper">
          <iframe  src="//www.youtube.com/embed/wvqTAVTSzgg?rel=0" frameborder="0" allowfullscreen></iframe>
       </div>
    <div class="pitch">
      <div class="circleBase type1" data-50p="background-color:rgb(4,103,146);" data-70p="background-color:rgb(62,134,172);">
        <h1> Connect </h1>
      </div>

      <div class="circleBase type1" data-50p="background-color:rgb(4,103,146);" data-70p="background-color:rgb(62,134,172);">
          <h1> Share </h1>
      </div>

      <div class="circleBase type1" data-50p="background-color:rgb(4,103,146);" data-70p="background-color:rgb(62,134,172);">
          <h1> Focus </h1>
      </div>
    </div
  </div>

  <div class="second" data-65p="background-color:rgb(4,103,146);" data-90p="background-color:rgb(62,134,172);">
          <h1> Are you looking for a legal service?</h1>
          <p> Watch the video to learn more on how we can help you. </p>
          <div class="video-wrapper">
              <iframe  src="//www.youtube.com/embed/3yyWwpDKhiw?rel=0"  frameborder="0" allowfullscreen></iframe>
          </div>
      <div class="pitch">
         <div class="circleBase type2" data-80p="background-color:rgb(62,134,172);" data-95p="background-color:rgb(4,103,146);">
           <h1> Find </h1>
         </div>

         <div class="circleBase type2" data-80p="background-color:rgb(62,134,172);" data-95p="background-color:rgb(4,103,146);">
             <h1> Schedule </h1>
         </div>

         <div class="circleBase type2" data-80p="background-color:rgb(62,134,172);" data-95p="background-color:rgb(4,103,146);">
             <h1> Track </h1>
          </div>
      </div>
 </div>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_floating_style addthis_32x32_style addthis">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_google_plusone_share"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5202a5e43d094621"></script>
    <!-- AddThis Button END -->

  <div class="footer">
         <p>   © Simplelaw.com </p>
  </div>
 </div>

<script src="/javascripts/skrollr.js"></script>
<script type="text/javascript">
    var s = skrollr.init();
    </script>
</body>
</html>