<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" >
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simplelaw.com</title>
    <link href="/stylesheets/fonts.css" type="text/css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Habibi|Alegreya+Sans:700,300italic' rel='stylesheet' type='text/css'>
    </head>
<style>
 body {
     font-family: 'Alegreya Sans', sans-serif;
     background-color: #e0e0e0;
     margin:0;
     -webkit-font-smoothing: antialiased;
 }

 .nav{
        border: 1px solid #ffffff;
        position: fixed;
        max-height: 72px;
        background-color: #ffffff;
        box-shadow: 1px 2px 4px #888888;
        width:100%;
    }
    .logo{
        padding-top: 3px;
        padding-left: 35px;
        font-family:"Ubuntu Mono";
        font-weight: normal;
        letter-spacing: normal;
    }


 .logo h1{
     font-size: 40px;
     color:#046792;

 }
    .logo p {
      margin-top: -25px;
        color:#ffffff;
    }
    .screen{
        top:0;
    }
    .law{
        color: #000000;
    }
    .com{
        color:gray;
    }
    .first{
         background-color: #3e86ac;
         width:auto;
         padding-top:40px;

         margin-top: -20px;
     }

    .video-wrapper {

        width: 100%;
        height:100%;
    }
    .first h1{
        text-align:center;
        color:#ffffff;
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .video-wrapper iframe, .video-wrapper object, .video-wrapper embed {
             width: 100%;
            height: 100%;
        }
        .video-wrapper iframe {
            max-width: 720px;
            max-height: 405px;
            padding-left:19%;
            /* margin: 60px 0 10px 195px;  */
        }

    .circleBase {
        margin:45px;
        border-radius: 50%;
        behavior: url(PIE.htc);
        float:left;
    }

    .type1 {
        width: 200px;
        height: 200px;
        background: #046792;
    }

    .type1 h1 {
        text-align:center;
        color: #ffffff;
        padding-top:30%;
    }
    .pitch {
      overflow:hidden;
      padding-left:145px;
    }

   .first p {
       font-size: 24px;
       line-height: 30px;
       color: #ffffff;
       text-align: center;
       margin-top: -25px;
    }

   .first h1,h2 {

        font-family: inherit;
        font-weight: bold;
        line-height: 20px;
        color: #ffffff;
        text-rendering: optimizelegibility;
    }

     .second{
         background:#046792;
         width:auto;
         padding-top:40px;
         margin-top: -20px;
      }
     .second h1 {

          font-family: inherit;
          font-weight: bold;
          line-height: 20px;

          text-rendering: optimizelegibility;
          padding-top: 60px;
          padding-bottom: 10px;

      }

    .second p {
        font-size: 24px;
        line-height: 30px;

        text-align: center;
        margin-top: -25px;
     }

     .type2 {
         width: 200px;
         height: 200px;
         background: #3e86ac;

     }

     .type2 h1 {
         text-align:center;
         color: #ffffff;
         padding-top:30%;
     }


</style>
<body>
<div class="screen">
  <div class="nav">
    <div class="logo">
        <h1>Simple<span class="law">law</span><span class="com">.com</span> </h1>
        <p>simple for clients & simple for lawyers </p>
    </div>
  </div>
  <div class="first">
       <h1> Are you a lawyer?</h1>
       <p class="lead"> Watch the video to learn more on how we can help you. </p>
       <div class="video-wrapper">
          <iframe  src="//www.youtube.com/embed/wvqTAVTSzgg?rel=0" frameborder="0" allowfullscreen></iframe>
       </div>
   <div class="pitch">
      <div class="circleBase type1">
        <h1> Connect </h1>
      </div>

      <div class="circleBase type1">
          <h1> Share </h1>
      </div>

      <div class="circleBase type1">
          <h1> Focus </h1>
       </div>
   </div
  </div>
  <div class="second">
          <h1> Are you looking for a legal service?</h1>
          <p class="lead"> Watch the video to learn more on how we can help you. </p>
          <div class="video-wrapper">
              <iframe  src="//www.youtube.com/embed/3yyWwpDKhiw?rel=0"  frameborder="0" allowfullscreen></iframe>
          </div>

      <div class="pitch">
         <div class="circleBase type2">
           <h1> Find </h1>
         </div>

         <div class="circleBase type2">
             <h1> Schedule </h1>
         </div>

         <div class="circleBase type2">
             <h1> Track </h1>
          </div>
      </div>
    </div>
 </div>

</body>
</html>