
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" >
    <meta name="description" content="">
    <meta name="author" content="">
 <title>Simplelaw.com</title>
    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Condiment|Ubuntu+Mono:400,700|Gilda+Display|Poiret+One|Belgrano|Montez|Flamenco|Droid+Sans+Mono|Josefin+Sans:400,700|Herr+Von+Muellerhoff|Gafata|Lusitana:400,700|Sofadi+One|Fanwood+Text|Inconsolata:400,700|Arizonia|Audiowide|Oregano' rel='stylesheet' type='text/css'>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/stylesheets/carousle.css" rel="stylesheet">
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <link href="/stylesheets/parallax.css" rel="stylesheet">


</head>

<!-- NAVBAR
================================================== -->
<body class="pull_top">

<div id="home" class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Simple law</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#logo">Logo & Branding</a></li>
                        <li><a href="/onlycoin">Only coin style</a></li>
                        <li><a href="/custom">Custom</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<section id="sec-1">

 <div class="video-wrapper">
     <iframe   id="video1" width="70%" height="400px" src="//www.youtube.com/embed/wvqTAVTSzgg?rel=0" frameborder="0" allowfullscreen></iframe>
 </div>


<div id="myCarousel" class="carousel slide">


    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>

    </ol>
    <div class="carousel-inner">
        <div class="item active">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                   <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item ">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>

    </div>

    <!-- /.carousel-inner
    <!--  Next and Previous controls

    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
 -->
</div><!-- /.carousel -->



<div class="container">
 <h3>For attorneys</h3>
   <div class="col-md-4">
        <img class="img-circle" data-src="holder.js/180x180/bright/text:Connect" alt="connect"
           style="width: 180px; height: 180px;">
        <p> Easily connect with others.</p>
    </div>
    <div class="col-md-4">
        <img class="img-circle" data-src="holder.js/180x180/bright/text:Share" alt="share"
             style="width: 180px; height: 180px;">
        <p> Easily share easily documents.</p>
    </div>
    <div class="col-md-4">
        <img class="img-circle" data-src="holder.js/180x180/bright/text:Focus" alt="focus"
             style="width: 180px; height: 180px;">
        <p>Focus on your core competence.</p>
    </div>
</div>
</section>  <!-- /attorney section -->

<section class="featurette-divider lightbg">
 <h3>For clients</h3>
    <div class="video-wrapper2">
        <iframe width="70%" height="400" src="//www.youtube.com/embed/3yyWwpDKhiw?rel=0" frameborder="0" allowfullscreen></iframe>)
    </div>

    <div class="container">
        <h3></h3>
        <div class="col-md-4">
            <img class="img-circle" data-src="holder.js/180x180/white/text:Find" alt="connect"
                 style="width: 180px; height: 180px;">
            <p> Easily find lawyers nearby.</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" data-src="holder.js/180x180/white/text:Schedule" alt="share"
                 style="width: 180px; height: 180px;">
            <p> Easily schedule appointments.</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle" data-src="holder.js/180x180/white/text:Track" alt="focus"
                 style="width: 180px; height: 180px;">
            <p>Track the progress of your case.</p>
        </div>
    </div>

</section>

<div class="container">
<section id="logo">
 <h1>Font selection </h1>
    <section class="poiret">
        <h2> Simplelaw  </h2>

        <div class="container">
            <h3></h3>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/70x70/vine/text:Poiret" alt="connect"
                     style="width: 70px; height: 70px;">
                <p> Easily find lawyers nearby.</p>
            </div>
            <div class="col-md-4">
                <p class="blue"><b>simplelaw.com</b></p>
                <p><i>simplelaw.com</i></p>
                <p class="black"> <b><i>simplelaw.com</i></b></p>
                <p class="red">Simplelaw.com</p>
                <p><b>Simplelaw.com </b> </p>

            </div>
            <div class="col-md-4">
                Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
            </div>
        </div>

    </section>

    <section class="belgrano">
        <h2> Simplelaw  </h2>

        <div class="container">
            <h3></h3>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/70x70/vine/text:Belgrano" alt="connect"
                     style="width: 70px; height: 70px;">
                <p> Easily find lawyers nearby.</p>
            </div>
            <div class="col-md-4">
                <p class="blue"><b>simplelaw.com</b></p>
                <p><i>simplelaw.com</i></p>
                <p class="black"> <b><i>simplelaw.com</i></b></p>
                <p class="red">Simplelaw.com</p>
                <p><b>Simplelaw.com </b> </p>

            </div>
            <div class="col-md-4">
                Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
            </div>
        </div>
    </section>

    <section class="montez">
        <h2> Simplelaw  </h2>

        <div class="container">
            <h3></h3>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/70x70/vine/text:Montez" alt="connect"
                     style="width: 70px; height: 70px;">
                <p> Easily find lawyers nearby.</p>
            </div>
            <div class="col-md-4">
                <p class="blue"><b>simplelaw.com</b></p>
                <p><i>simplelaw.com</i></p>
                <p class="black"> <b><i>simplelaw.com</i></b></p>
                <p class="red">Simplelaw.com</p>
                <p><b>Simplelaw.com </b> </p>

            </div>
            <div class="col-md-4">
                Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
            </div>
        </div>
    </section>


    <section class="flamenco">
        <h2> Simplelaw  </h2>

        <div class="container">
            <h3></h3>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/70x70/vine/text:Flamenco" alt="connect"
                     style="width: 70px; height: 70px;">
                <p> Easily find lawyers nearby.</p>
            </div>
            <div class="col-md-4">
                <p class="blue"><b>simplelaw.com</b></p>
                <p><i>simplelaw.com</i></p>
                <p class="black"> <b><i>simplelaw.com</i></b></p>
                <p class="red">Simplelaw.com</p>
                <p><b>Simplelaw.com </b> </p>

            </div>
            <div class="col-md-4">
                Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
            </div>
        </div>
    </section>

    <section class="droid">
        <h2> Simplelaw  </h2>

        <div class="container">
            <h3></h3>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/70x70/vine/text:Droid" alt="connect"
                     style="width: 70px; height: 70px;">
                <p> Easily find lawyers nearby.</p>
            </div>
            <div class="col-md-4">
                <p class="blue"><b>simplelaw.com</b></p>
                <p><i>simplelaw.com</i></p>
                <p class="black"> <b><i>simplelaw.com</i></b></p>
                <p class="red">Simplelaw.com</p>
                <p><b>Simplelaw.com </b> </p>

            </div>
            <div class="col-md-4">
                Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
            </div>
        </div>
    </section>
    <section class="josef">
        <h2> Simplelaw  </h2>

        <div class="container">
            <h3></h3>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/70x70/vine/text:Josef" alt="connect"
                     style="width: 70px; height: 70px;">
                <p> Easily find lawyers nearby.</p>
            </div>
            <div class="col-md-4">
                <p class="blue"><b>simplelaw.com</b></p>
                <p><i>simplelaw.com</i></p>
                <p class="black"> <b><i>simplelaw.com</i></b></p>
                <p class="red">Simplelaw.com</p>
                <p><b>Simplelaw.com </b> </p>

            </div>
            <div class="col-md-4">
                Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
            </div>
        </div>
    </section>

    <section class="von">
        <h2> Simplelaw  </h2>

        <div class="container">
            <h3></h3>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/70x70/vine/text:Von" alt="connect"
                     style="width: 70px; height: 70px;">
                <p> Easily find lawyers nearby.</p>
            </div>
            <div class="col-md-4">
                <p class="blue"><b>simplelaw.com</b></p>
                <p><i>simplelaw.com</i></p>
                <p class="black"> <b><i>simplelaw.com</i></b></p>
                <p class="red">Simplelaw.com</p>
                <p><b>Simplelaw.com </b> </p>

            </div>
            <div class="col-md-4">
                Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
            </div>
        </div>
    </section>
    <section class="gafata">
        <h2> Simplelaw  </h2>

        <div class="container">
            <h3></h3>
            <div class="col-md-4">
                <img class="img-circle" data-src="holder.js/70x70/vine/text:Gafata" alt="connect"
                     style="width: 70px; height: 70px;">
                <p> Easily find lawyers nearby.</p>
            </div>
            <div class="col-md-4">
                <p class="blue"><b>simplelaw.com</b></p>
                <p><i>simplelaw.com</i></p>
                <p class="black"> <b><i>simplelaw.com</i></b></p>
                <p class="red">Simplelaw.com</p>
                <p><b>Simplelaw.com </b> </p>

            </div>
            <div class="col-md-4">
                Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
            </div>
        </div>
    </section>

 <section class="lusitana">
     <h2> Simplelaw  </h2>

     <div class="container">
         <h3></h3>
         <div class="col-md-4">
             <img class="img-circle" data-src="holder.js/70x70/vine/text:Lusitana" alt="connect"
                  style="width: 70px; height: 70px;">
             <p> Easily find lawyers nearby.</p>
         </div>
         <div class="col-md-4">
             <p class="blue"><b>simplelaw.com</b></p>
             <p><i>simplelaw.com</i></p>
             <p class="black"> <b><i>simplelaw.com</i></b></p>
             <p class="red">Simplelaw.com</p>
             <p><b>Simplelaw.com </b> </p>

         </div>
         <div class="col-md-4">
             Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
         </div>
     </div>
 </section>

 <section class="sofadi">
     <h2> Simplelaw  </h2>

     <div class="container">
         <h3></h3>
         <div class="col-md-4">
             <img class="img-circle" data-src="holder.js/70x70/vine/text:Sofadi" alt="connect"
                  style="width: 70px; height: 70px;">
             <p> Easily find lawyers nearby.</p>
         </div>
         <div class="col-md-4">
             <p class="blue"><b>simplelaw.com</b></p>
             <p><i>simplelaw.com</i></p>
             <p class="black"> <b><i>simplelaw.com</i></b></p>
             <p class="red">Simplelaw.com</p>
             <p><b>Simplelaw.com </b> </p>

         </div>
         <div class="col-md-4">
             Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
         </div>
     </div>
 </section>
 <section class="fanwoood">
     <h2> Simplelaw  </h2>

     <div class="container">
         <h3></h3>
         <div class="col-md-4">
             <img class="img-circle" data-src="holder.js/70x70/vine/text:Fanwood" alt="connect"
                  style="width: 70px; height: 70px;">
             <p> Easily find lawyers nearby.</p>
         </div>
         <div class="col-md-4">
             <p class="blue"><b>simplelaw.com</b></p>
             <p><i>simplelaw.com</i></p>
             <p class="black"> <b><i>simplelaw.com</i></b></p>
             <p class="red">Simplelaw.com</p>
             <p><b>Simplelaw.com </b> </p>

         </div>
         <div class="col-md-4">
             Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
         </div>
     </div>
 </section>
 <section class="inconsolata">
     <h2> Simplelaw  </h2>

     <div class="container">
         <h3></h3>
         <div class="col-md-4">
             <img class="img-circle" data-src="holder.js/70x70/vine/text:Inconsolata" alt="connect"
                  style="width: 70px; height: 70px;">
             <p> Easily find lawyers nearby.</p>
         </div>
         <div class="col-md-4">
             <p class="blue"><b>simplelaw.com</b></p>
             <p><i>simplelaw.com</i></p>
             <p class="black"> <b><i>simplelaw.com</i></b></p>
             <p class="red">Simplelaw.com</p>
             <p><b>Simplelaw.com </b> </p>

         </div>
         <div class="col-md-4">
             Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
         </div>
     </div>
 </section>

 <section class="arizona">
     <h2> Simplelaw  </h2>

     <div class="container">
         <h3></h3>
         <div class="col-md-4">
             <img class="img-circle" data-src="holder.js/70x70/vine/text:Arizona" alt="connect"
                  style="width: 70px; height: 70px;">
             <p> Easily find lawyers nearby.</p>
         </div>
         <div class="col-md-4">
             <p class="blue"><b>simplelaw.com</b></p>
             <p><i>simplelaw.com</i></p>
             <p class="black"> <b><i>simplelaw.com</i></b></p>
             <p class="red">Simplelaw.com</p>
             <p><b>Simplelaw.com </b> </p>

         </div>
         <div class="col-md-4">
             Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
         </div>
     </div>
 </section>

 <section class="audiowide">
     <h2> Simplelaw  </h2>

     <div class="container">
         <h3></h3>
         <div class="col-md-4">
             <img class="img-circle" data-src="holder.js/70x70/vine/text:Audiowide" alt="connect"
                  style="width: 70px; height: 70px;">
             <p> Easily find lawyers nearby.</p>
         </div>
         <div class="col-md-4">
             <p class="blue"><b>simplelaw.com</b></p>
             <p><i>simplelaw.com</i></p>
             <p class="black"> <b><i>simplelaw.com</i></b></p>
             <p class="red">Simplelaw.com</p>
             <p><b>Simplelaw.com </b> </p>

         </div>
         <div class="col-md-4">
             Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
         </div>
     </div>
 </section>

 <section class="oregano">
     <h2> Simplelaw  </h2>

     <div class="container">
         <h3></h3>
         <div class="col-md-4">
             <img class="img-circle" data-src="holder.js/70x70/vine/text:Oregano" alt="connect"
                  style="width: 70px; height: 70px;">
             <p> Easily find lawyers nearby.</p>
         </div>
         <div class="col-md-4">
             <p class="blue"><b>simplelaw.com</b></p>
             <p><i>simplelaw.com</i></p>
             <p class="black"> <b><i>simplelaw.com</i></b></p>
             <p class="red">Simplelaw.com</p>
             <p><b>Simplelaw.com </b> </p>

         </div>
         <div class="col-md-4">
             Most of us don’t need a lawyer most of the time until something happens. If a court sent you a summons, you’d want a lawyer. Maybe there’s a dispute within the family over inheritance, a lawyer could help. Perhaps you’ve been in a minor fender bender, or wanted to start up an LLC. The need for a legal counsel can come swift and sudden, and the last thing you want in these instances is racing through the yellow pages.
         </div>
     </div>
 </section>


</section>
    <section id="contact">
        <h2> Contact Us </h2>
        <p>
            simplelaw.com is powered by SmartName to bring you targeted search terms designed specifically to enhance the users overall online search experience. simplelaws.com displays the top advertisers for and more. We've taken the confusion out of searching online, allowing you to find what you want in a timely manner.

            We understand everyone searches with different criteria in mind. That's why we've designed simplelaws.com to be navigated on your terms. simplelaws.com brings you the most comprehensive group of advertisers in an easily navigated format, giving users a vast range of choices in as few clicks as possible.</p>
    </section>
</div>

<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row info">
            <div class="col-sm-6 residence">
                <ul>
                    <li>1234 East Lamar Blvd. City, Austin.</li>
                    <li>United States, Zip Code TX 76006.</li>
                </ul>
            </div>
            <div class="col-sm-5 touch">
                <ul>
                    <li><strong>P.</strong> 1 202 36185 37</li>
                    <li><strong>E.</strong><a href="#"> info@simplelaws.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                <div class="row social">
                    <div class="span12">
                        <a href="#" class="facebook">
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>
                        <a href="#" class="twitter">
                            <span class="socialicons ico2"></span>
                            <span class="socialicons_h ico2h"></span>
                        </a>
                        <a href="#" class="gplus">
                            <span class="socialicons ico3"></span>
                            <span class="socialicons_h ico3h"></span>
                        </a>
                        <a href="#" class="flickr">
                            <span class="socialicons ico4"></span>
                            <span class="socialicons_h ico4h"></span>
                        </a>
                        <a href="#" class="pinterest">
                            <span class="socialicons ico5"></span>
                            <span class="socialicons_h ico5h"></span>
                        </a>
                        <a href="#" class="dribble">
                            <span class="socialicons ico6"></span>
                            <span class="socialicons_h ico6h"></span>
                        </a>
                        <a href="#" class="behance">
                            <span class="socialicons ico7"></span>
                            <span class="socialicons_h ico7h"></span>
                        </a>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-md-12">
                        © 2014 Simple laws. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/javascripts/docs.js"></script>
<script>Holder.add_theme("bright", { background: "#00bbb6", foreground: "white", size: 20 }) </script>
<script>Holder.add_theme("white", { background: "#ffffff", foreground: "#00bbb6", size: 20 }) </script>
<script src="/javascripts/util.js"></script>

</body>
</html>
