body.pull_top {
    padding-top: 0px !important;
}
body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    padding-top: 107px;
    line-height: 20px;
}

#footer {
    min-height: 200px;
    margin-top: 140px;
    background-color: #252528;
    color: #fff;
    padding-top: 35px;
}


/* Video pitch and Action */
.pitch{
    padding:2.5% 0%;
}
.order{
    padding:2% 0%;
}
.actions{
    background-color:#343434;
    padding:3% 0%;
    margin-top:6%;
}
.perk {
    margin-bottom: 82px;
    margin-left: 0;
}
.col-sm {
    float: left;
}
.row{
    padding: 20px ;
}

